<h2>Employee Details</h2> 
<hr/>
<div *ngIf="employee">
  <div>
    <label><b>First Name: </b></label> {{employee.firstName}}
  </div>
  <div>
    <label><b>Last Name: </b></label> {{employee.lastName}}
  </div>
  <div>
    <label><b>Email Id: </b></label> {{employee.emailId}}
  </div>  
  <div>
    <label><b>State: </b></label> {{employee.state}}
  </div>
  <div>
    <label><b>Contact Number: </b></label> {{employee.contactNumber}}
  </div> 
  <div>
    <label><b>Aadhar number: </b></label> {{employee.aadharNumber}}
  </div>  
  <div>
    <label><b>Pan Number: </b></label> {{employee.panNumber}}
  </div>
  <div>
    <label><b>Gender</b></label> {{employee.gender}}
  </div> 
  <div>
    <label><b>Date Of Birth:  </b></label> {{employee.dateOfBirth}}
  </div>
  <div>
    <label><b>Address</b></label> {{employee.address}}
  </div> 
  <div>
    <label><b>City</b></label> {{employee.city}}
  </div> 
  <div>
    <label><b>Country</b></label> {{employee.country}}
  </div> 
  <div>
    <label><b>ZipCode</b></label> {{employee.zipCode}}
  </div> 
  <div>
    <label><b>Balance</b></label> {{employee.balance}}
  </div> 
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Back to Employee List</button><br>
